.calendar {
  height: 100%;
  display: flex;
}

.calendar-times {
  flex: 1;
}

.calendar-body {
  background-color: #f2f2f2;
  position: relative;
  flex: 7;
}

.appointment {
  background: white;
  border: solid 1px #b8b8b8;
  border-left: solid 4px #4569c7;
  text-align: left;
}
